{%extends 'base.html'%}

{%block body_block%}

<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">

        <table class="table">
            <tr>

                <td>Email</td>
                <td>Phone</td>
                <td>Address</td>
                <td>Profile</td>
            </tr>

            {%for book in products %}

            <tr>
                <td>{{books.email}}</td>
                <td>{{book.phone}}</td>
                <td>{{book.address}}</td>
                <td><img src="" alt="" height="100px" width="100px"></td>
                <td>
                    <a href="{%url 'bookdetail' book.id%}">view</a>

                    <a href="{%url 'editbook' book.id%}">Edit</a>
                    <a href="{%url 'editbook' book.id%}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            <!--            django template language-->

        </table>
    </div>
    <div class="col-2"></div>
</div>


{%endblock%}