{%extends 'base.html'%}

{%block body_block%}

<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-10">

        <table class="table">
            <tr>

                <td>Email</td>
                <td>Phone</td>
                <td>Address</td>
                <td>Profile</td>
                  <td>Action</td>
            </tr>

            {%for emp in employees %}
            {%if  emp.employee.user%}
            <tr>
                <td>{{emp.email}}</td>
                <td>{{emp.employee.phone}}</td>
                <td>{{emp.employee.address}}</td>
                {%if emp.employee.imag%}
                <td><img src="{{emp.employee.imag.url}}" alt="" height="100px" width="100px"></td>
                {%endif%}{%endif%}
                <td>
                 <a href="{%url 'Empdetail' emp.id%}">view</a>

               <a href="{%url 'editemp' emp.id%}">Edit</a>
                   <a href="{%url 'editemp' emp.id%}">Delete</a>
                </td>
            </tr>
            {% endfor %}


        </table>
    </div>
    <div class="col-1"></div>
</div>


{%endblock%}