{%extends 'base.html'%}

{%block body_block%}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 mt-5">
        <form action="{%url 'ownerreg' %}" method="post">
            {%csrf_token%}
            {% for field in user_form%}
            <div class="wrapper">
                {{field.label_tag}}{{field}}
            </div>
            {%endfor%}
            {% for field in profile_form%}
            <div class="wrapper">
                {{field.label_tag}}{{field}}

            </div>
            {%endfor%}

            <input type="submit" value="add">


        </form>
    </div>
    <div class="col-2"></div>
</div>


</body>
</html>


{%endblock%}